.quarzo-responsive-navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    /*box-shadow: 1px 1px 4px #808080;*/
}

.quarzo-link-navbar{
    text-decoration: none;
    font-size: 1.2em;
    margin: 0px 10px;
}

.quarzo-link-submenu{
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0px;
}

/*Default Icon*/
.quarzo-menu-icon-container{
    display: none;
}

.quarzo-default-menu-icon{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0px;
}

.submenu-container-responsive{
    display: none;
}

.submenu-container-responsive-active{
    height: 100vh;
    box-shadow: 1px 1px 5px grey;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px){
    .quarzo-link-navbar{
        display: none;
    }

    .quarzo-menu-icon-container{
        display: block;
        margin: 0px 10px;
        cursor: pointer;
    }

    .quarzo-responsive-navbar{
        justify-content: flex-start;
    }
}

@media (min-width: 801px){
    .submenu-container-responsive-active{
        display: none;
    }
}